<a id="TOP"> </a>
<div class="alert alert-block alert-info">
</div>

***

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from wrangle_mvp import clean_zillow
# from wrangle_mvp import boxplots, hists, split_data_continuous, model_sets, 
from wrangle_mvp import get_models
import seaborn as sns

In [2]:
# df = clean_zillow()

In [3]:
# df.info()

In [4]:
# train, validate, test = split_data_continuous(df, with_baseline=True)

In [5]:
# X_train, y_train, X_validate, y_validate, X_test, y_test = model_sets(train, validate, test)

In [39]:
# def get_models():
#     df = clean_zillow()
    
#     train, validate, test = split_data_continuous(df, with_baseline=True)
    
#     X_train, y_train, X_validate, y_validate, X_test, y_test = model_sets(train, validate, test)
    
#     zillow = [df, X_train, y_train, X_validate, y_validate, X_test, y_test]
    
#     zillow, models, metric_df = make_models(zillow)
    
#     return zillow, models, metric_df

In [2]:
zillow, models, metric_df = get_models()

Number of observations removed: 5516
Prepared df: (35848, 4)

Train: (21508, 4)
Validate: (7170, 4)
Test: (7170, 4)
The mean_preds had the lowest RMSE: 215859 with an in/out of: 0.999

X_cols = ['beds', 'baths', 'area']

y_cols = ['tax_value', 'baseline']

In [66]:
X_cols = ['beds', 'baths', 'area']

y_cols = ['tax_value', 'baseline']

In [3]:
models

,model_name,made_model,fit_model,predict_model
0,Linear Regression,LinearRegression(normalize=True),LinearRegression(normalize=True),<bound method LinearModel.predict of LinearReg...
1,Lasso Lars,"LassoLars(alpha=1, random_state=123)","LassoLars(alpha=1, random_state=123)",<bound method LinearModel.predict of LassoLars...
2,GLM (Tweedie Reg),"TweedieRegressor(alpha=0, power=1)","TweedieRegressor(alpha=0, power=1)",<bound method GeneralizedLinearRegressor.predi...

In [4]:
metric_df

               model rmse_train           r^2 rmse_validate  r^2_validate
0           baseline   $215.9 K -2.220446e-16      $216.1 K      0.000000
0  Linear Regression   $198.0 K  1.588614e-01      $200.4 K      0.140048
0         Lasso Lars   $198.0 K  1.588591e-01      $200.4 K      0.140093
0  GLM (Tweedie Reg)   $198.0 K  1.582753e-01      $200.5 K      0.139376

In [65]:
for i in master_df:
    print(i)

beds
baths
area
tax_value
baseline
Linear Regression
Lasso Lars
GLM (Tweedie Reg)

In [5]:
zillow[4]

,tax_value,baseline,Linear Regression,Lasso Lars,GLM (Tweedie Reg)
17589,603335.0,424146,518928.125811,518802.467369,512185.308329
9031,915675.0,424146,452721.784197,452577.643678,441741.341007
42555,315849.0,424146,465284.370008,465110.660158,453727.540098
41137,450000.0,424146,455969.120178,455991.652220,447874.608121
51737,533298.0,424146,376761.963015,376796.613799,375720.315025
...,...,...,...,...,...
8668,418046.0,424146,369458.134055,369509.976310,369917.381849
14440,159777.0,424146,310165.252863,310570.109595,323201.003733
13615,333000.0,424146,328523.040642,328496.918329,336693.751413
45731,202775.0,424146,357494.064522,357787.520519,357500.873042
46127,185425.0,424146,326624.045112,326602.392582,335333.909616

In [21]:
zillow_dict = {'df': zillow[0],
               'X_train': zillow[1],
               'y_train': zillow[2],
               'X_validate': zillow[3],
               'y_validate': zillow[4],
               'X_test': zillow[5],
               'y_test': zillow[6]
              }

In [25]:
zillow_dict['df']

       beds  baths    area  tax_value
1       2.0    1.0  1465.0   464000.0
2       3.0    2.0  1243.0   564778.0
3       4.0    3.0  2376.0   145143.0
4       4.0    3.0  2962.0   773303.0
6       4.0    3.0  3039.0   220583.0
...     ...    ...     ...        ...
52269   3.0    2.0  1472.0   603333.0
52272   4.0    3.0  2068.0   332251.0
52274   4.0    2.0  1633.0   346534.0
52275   2.0    2.0  1286.0   354621.0
52278   3.0    2.0  1762.0   522000.0

[35848 rows x 4 columns]

In [28]:
master_df = pd.concat(zillow_dict)

In [56]:
master_df.loc['df','beds']

1        2.0
2        3.0
3        4.0
4        4.0
6        4.0
        ...
52269    3.0
52272    4.0
52274    4.0
52275    2.0
52278    3.0
Name: beds, Length: 35848, dtype: float64

In [67]:
master_df.loc['X_validate'][X_cols]

           beds     baths      area
17589  0.666667  0.571429  0.548060
9031   0.333333  0.285714  0.347780
42555  0.333333  0.285714  0.377840
41137  0.666667  0.571429  0.397413
51737  0.333333  0.285714  0.166026
...         ...       ...       ...
8668   0.333333  0.285714  0.148549
14440  0.333333  0.000000  0.037749
13615  0.000000  0.000000  0.008738
45731  0.333333  0.000000  0.150996
46127  0.000000  0.000000  0.004194

[7170 rows x 3 columns]

In [58]:
master_df.loc['y_validate', 'Linear Regression']

17589    518928.125811
9031     452721.784197
42555    465284.370008
41137    455969.120178
51737    376761.963015
             ...
8668     369458.134055
14440    310165.252863
13615    328523.040642
45731    357494.064522
46127    326624.045112
Name: Linear Regression, Length: 7170, dtype: float64

In [37]:
master_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 107544 entries, ('df', 1) to ('y_test', 18407)
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   beds               71696 non-null  float64
 1   baths              71696 non-null  float64
 2   area               71696 non-null  float64
 3   tax_value          71696 non-null  float64
 4   baseline           35848 non-null  float64
 5   Linear Regression  28678 non-null  float64
 6   Lasso Lars         28678 non-null  float64
 7   GLM (Tweedie Reg)  28678 non-null  float64
dtypes: float64(8)
memory usage: 8.4+ MB

In [27]:
# x = split_data_continuous(df, with_baseline=True)

In [26]:
# model_sets(x[0],x[1],x[2])

In [28]:
# for i in x:
#     print(i)